<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Pokedex</title>
</head>
<body>
    <div id="app" class=" bg-dark ">
    
      <header class="bg-danger d-flex justify-content-around align-items-center">
        <h1 class="text-white">Pokedex</h1>
        <div class="d-flex gap-3">
          <input type="search" name="" id="pokebusqueda" placeholder="Pokebusqueda">

          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Types
            </button>
            <ul class="dropdown-menu bg-dark text-white">
              <li v-for="tipo in tiposPoke" class="p-1 gap-2 d-flex">
                <input type="radio" title="{{tipo}}" name="{{tipo}}" value="{{tipo}}" id="{{tipo}}">
                <label for="{{tipo}}">{{tipo}}</label>
              </li>
              
            </ul>
          </div>
        </div>
      </header>
      
     <main  class="d-flex flex-column justify-content-center align-items-center">
      
      <div class="d-flex flex-wrap flex-row justify-content-center">
       
        
        <a :href="'moreinfo.html?id='+ pokemon.id" v-for="pokemon in pokemones" class="card-poke d-flex justify-content-center align-items-center flex-column">
          
          <img :src="pokemon.img" class="card__poke" alt="...">
          <div class="img-back">
            
          </div>
            <div class="texto-poke">
              <h5 class="card-title">{{pokemon.name}}</h5>
              <div class="d-flex gap-3 justify-content-center m-1">
                <p v-for="tip in pokemon.tipo" class="card-text">{{tip}}</p>
              </div>
            </div>
        </a>

      </div>
      <div class="d-felx gap-3 my-3">
        <button type="button" id="prev" @click="antPag" class="btn btn-danger m-1">Previous</button>
        <button type="submit" id="next" @click="sigPag"  class="btn btn-danger m-1">Next</button>
      </div>
     </main>




    <!-- JavaScript Bundle with Popper -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
  crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="assets/js/main.js"></script>

        
</div>
</body>
</html>