*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    min-height: 10vh;
}
header #pokebusqueda{
    box-shadow: none;
    background: #2828282d;
    border-radius: .5rem;
    height: 2.5rem;
    padding: .2rem;
    border: none;
    color: white;
}
main{
    min-height: 90vh;
}

.card-poke{
    width: 18rem;
    height: 10rem;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: rgb(99, 99, 99);
}

.card__poke{
    height: 100%;
    width: 55%;
}
.texto-poke{
    padding: 10px;
    text-transform: capitalize;
    border-radius: 0px 0px 15px 15px;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: #252525;
    transition: .5s;
}
a:hover{
    color: #e9e9e9;
    transform: scale(1.05);
}